<footer>
	<p class="copyright">
		(c) Daniel P H Fox. Source available under the MIT Licence.<br>
		Roblox is a trademark of Roblox Corporation. This project is not
		affiliated with Roblox.
	</p>
	<nav>
		<h2>More by Daniel P H Fox</h2>
		<a href="https://elttob.uk/go/fusion">Fusion</a>
		<a href="https://elttob.uk/go/vanilla">Vanilla</a>
		<a href="https://elttob.uk/go/volumika">Volumika</a>
		<a href="https://elttob.uk/go/suite">Elttob Suite</a>
	</nav>
</footer>