<section class="hero-search">
	<form action="/search" method="GET" target="_blank">
	<h2>
		Is
		<input
			type="search" name="q" value="" placeholder="a new feature" spellcheck=false
			aria-label="Type a feature name here"
		>
		in Roblox yet?
		<input type="submit" value="Check">
	</h2>
</section>

<section class="directory">
	<section class="new-features">
		<h2>
			New features
		</h2>
		<ul>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
		</ul>
	</section>
	<section class="rolled-out-recently">
		<h2>
			Rolled out recently
		</h2>
		<ul>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
		</ul>
	</section>
	<section class="rolled-out-recently">
		<h2>
			Reverted recently
		</h2>
		<ul>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
			<li class="directory-entry">
				<data class="version" value="621">621</data>
				<data class="status" value="studio-beta">Studio Beta</data>
				<span class="name">EditableMesh</span>
			</li>
		</ul>
	</section>
	<a class="view-all" href="/all">View all features being tracked right now</a>
</section>